@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "jaro";
    src: url("/fonts/Jaro_9pt-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "lilita";
    src: url("/fonts/LilitaOne-Regular.ttf") format("truetype");
}

.font-title {
    font-family: "jaro"
}

.font-title-bold {
    font-family: "lilita"
}

* {
    font-family: "jaro", sans-serif;
    font-weight: 100;
}

/* NOTE: Scrollbar style */
::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-thumb {
    @apply rounded-full bg-gray-500;
}

::-webkit-resizer {
    display: none;
}

