@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "sfpro";
    src: url("/fonts/SFPRODISPLAYREGULAR.OTF") format("opentype");
}

@font-face {
    font-family: "sfprobold";
    src: url("/fonts/SFPRODISPLAYBOLD.OTF") format("opentype");
}

.font-title {
    font-family: "sfpro"
}

.font-title-bold {
    font-family: "sfprobold"
}

* {
    font-family: "sfpro", sans-serif;
    font-weight: 100;
}

/* NOTE: Scrollbar style */
::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-thumb {
    @apply rounded-full bg-gray-500;
}

::-webkit-resizer {
    display: none;
}

