@import url("https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: "super";
        src: url("/assets/fonts/Super Senior Personal Use.ttf") format("truetype");
    }

    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
        font-family: "Poetsen One", sans-serif;
        font-weight: 400;
        font-style: normal;
    }
}

/* NOTE: Scrollbar style */
::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-thumb {
    @apply rounded-full bg-primary;
}

::-webkit-resizer {
    display: none;
}
