.device {
    border-radius: 10px;
    position: relative;
    box-sizing: border-box;
    box-shadow: inset 0 4px 7px 1px #fff, inset 0 -5px 20px rgba(173, 186, 204, 0.25), 0 2px 6px rgba(0, 21, 64, 0.14), 0 10px 20px rgba(0, 21, 64, 0.05);
}

.device::before,
.device::after {
    content: "";
    display: block;
    position: absolute;
    background: #fff;
    box-shadow: inset 0 4px 7px 1px #fff, inset 0 -5px 20px rgba(173, 186, 204, 0.25), 0 2px 6px rgba(0, 21, 64, 0.14), 0 10px 20px rgba(0, 21, 64, 0.05);
}

.phone {
    padding: 12% 3%;
}

.desktop {
    margin-bottom: 11%;
    border-radius: 0.5vw;
    padding: 1.5%;
}

.phone::after {
    border-radius: 50%;
    margin: 0 auto 2%;
    left: 0;
    right: 0;
    bottom: 0;
    width: 10%;
    height: 0;
    padding-top: 10%;
    box-shadow: inset 0 0 5px 1px rgba(0, 0, 0, 0.12);
}

.phone::before {
    border-radius: 50px;
    margin: 5.5% auto 0;
    left: 0;
    right: 0;
    top: 0;
    width: 20%;
    height: 1%;
    box-shadow: inset 0 0 3px 1px rgba(0, 0, 0, 0.12);
}

.desktop::before {
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: -18%;
    width: 20%;
    height: 20%;
    background: #fafafa;
    z-index: -1;
}

.desktop::after {
    border-radius: 4px 4px 24px 24px;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: -19.5%;
    width: 34%;
    height: 2%;
}
