.bannertxt label {
    font-weight: 800;
    text-align: center;
    z-index: 2;
    letter-spacing: 2px;
}

.word {
    position: absolute;
    width: 90vw;
    left: 0;
    opacity: 0;
}

.letter {
    display: inline-block;
    position: relative;
    float: none;
    -webkit-transform: translateZ(25px);
    transform: translateZ(25px);
    -webkit-transform-origin: 50% 50% 25px;
    transform-origin: 50% 50% 25px;
}

.letter.out {
    -webkit-transform: rotateX(90deg);
    transform: rotateX(90deg);
    -webkit-transition: -webkit-transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: -webkit-transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.letter.behind {
    -webkit-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
}

.letter.in {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transition: -webkit-transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: -webkit-transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275), -webkit-transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
